
@{
    ViewBag.Title = "About";
}

<!-- about.html -->
<div class="jumbotron text-center">
    <h1>About Page</h1>
    <div class="linkedInProfile">
        <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
        <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/danmiller92" data-format="inline" data-related="false">
        </script>
    </div>
</div>


